* {
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.5px;
}

.nav {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.nav h4 {
    color: #078f68;
    font-weight: 500;
    margin: 0;
}

.nav p {
    margin: 0;
}

.nav a {
    color: black;
    font-weight: 400;
    transition: ease-in-out .37s;
    -webkit-transition: ease-in-out .37s;
    -moz-transition: ease-in-out .37s;
    -ms-transition: ease-in-out .37s;
    -o-transition: ease-in-out .37s;
}

.nav a:hover {
    color: #078f68;
    text-decoration: none;
}

.navutils {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.searchicon {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.background {
    background-image: url(../../assets/img/Hero.jpeg);
    background-position: right;
    width: 100%;
    height: 100vh;
    position: relative;

}

.overlay {
    background-color: rgba(0, 0, 0, 0.51);
    height: 100%;
    width: 100%;
}

.heading {
    width: 580px;
    position: absolute;
    top: 30%;
    left: 150px;
}

.heading h3 {
    color: white;
}

.heading section {
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    border-left: solid 2px white;
    padding-left: 45px;
}

.rooms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

.rooms section {
    width: 500px;
    border-radius: 6px;
    align-self: start;
}

.rooms section h4 {
    margin-bottom: 4rem;
    letter-spacing: -0.3px;
    font-size: 1.4rem;
    border-bottom: 1px solid #078f95;
    line-height: 65px;
    width: 400px;
}

.meetingroominfo h4 {
    border-bottom: solid 1px green;
    margin: 1.5rem;
}

.meetingroominfo p {
    width: 350px;
    font-weight: 700;
}

.sectionheading {
    text-align: center;
    margin: 5rem 0;
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.roomthumbnails {    
    border: solid 1px #078f686b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.roomthumbnails div {
    width: 13rem;
    height: 13rem;
    border: solid .5px #078f95;
    border-radius: 3px;
    margin: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.marketingbg {
    width: 100%;
    position: relative;
    background-image: url(../../assets/img/Marketingroom.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.salesbg {
    width: 100%;
    position: relative;
    background-image: url(../../assets/img/Salesroom.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.boardbg {
    width: 100%;
    position: relative;
    background-image: url(../../assets/img/Boardroom.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.techbg {
    width: 100%;
    position: relative;
    background-image: url(../../assets/img/Techroom.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.doodleimg {
    background-color: #078f68;
    width: 100%;
    height: 100px;
}

.featurescontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}

.features {
    width: 250px;
    margin: 0 0 2rem 0;
    text-align: center;
}

.features span {
    font-size: 4.5rem;
    color: #078f68;
}

.features h4 {
    color: #078f68;
    font-size: 1.3rem;
    margin: 1.5rem 0;
}

.features p {
    font-size: 0.95rem;
}

.card {
    background-color: #444;
    width: 304px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #078f68;
    z-index: 1;
    transition: ease-in-out .4s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
}

.card:hover {
    background-color: #222121;
    z-index: 2;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
}

.cersei {
    width: 300px;
    height: 350px;
    background-image: url(../../assets/img/cerseilannister.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.jon {
    width: 300px;
    height: 350px;
    background-image: url(../../assets/img/jonsnow.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.arya {
    width: 300px;
    height: 350px;
    background-image: url(../../assets/img/aryastark.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.jobdescription {
    border-top: solid 2px #078f68;
    height: 140px;
    padding: 2rem 1.9rem 0;
    text-align: center;
    color: white;
}

.jobdescription p {
    margin: 0;
}

.navigationcontainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: orange;
}

.leftfooter {
    width: 50%;
    background-color: rgb(7, 143, 104);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.leftfooter section ul {
    list-style: none;
}

.leftfooter section ul li a {    
    color: white;
}

.rightfooter {
    width: 50%;
    background-color: rgb(7, 143, 104);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerlogo {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footerlogo h5 {
    color:white;
}

.footerlogo p {
    font-size: 0.6rem;
    color:white;
}

.contactform {
    display: flex;
    align-items: center;
}

.formcontrol {
    margin-bottom: 2rem;
    border: solid 1px white;
    width: 220px;
    border-radius: 2px;
    background-color: transparent;
}

.formcontrol::placeholder {
    color: white;
}

.formgroup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.formgroup input {
    padding: 0.4rem;
}

.formgroup label {
    color: white;
}

.contact {
    font-size: 0.9rem;
}

.contact p {
    color: white;
}